* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: black;
    color: white;
}

h5 {
    font-size: 25px;
}

.main-flex {
    /* border: 3px solid green; */
    display: flex;
    width: 60%;
    margin: 0 auto 0px auto;
    flex-direction: column;
    min-width: 500px;
}

.main-title {
    font-size: 70px;
    margin: 10px auto 30px auto;
    text-align: center;
}

.scoreboard {
    font-size: 10px;
    display: flex;
}

.scoreboard-text {
    width: 60%;
    margin: auto;
    text-align: center;
}

.dashboard {
    justify-content: center;
    display: flex;
    gap: 10%;
}

#player-dash,
.computer-dash {
    font-size: 90px;
    text-align: center;
    margin: 30px 3px 30px 3px;
    border: 3px solid black;
}

.round {
    text-align: center;
    margin: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
}

#round-number {
    font-size: 40px;
    padding-top: 5px;
}

.controls {
    text-align: center;
    padding: 30px 0 30px 0;
}

.button {
    margin: 0 20px 0 20px;
}

#play-again {
    margin-top: 20px;
    text-align: center;
}

.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.footer {
    margin: 30px auto 10px auto;
    color: var(--primary-light);
    font-size: 20px;
}

.fa-github {
    color: var(--primary-light);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}